<section class="mx-auto max-w-7xl px-4 py-8">
  <p class="mt-4 ">Home  >  <strong> Shopping Cart </strong></p>
  <h1 class="mt-6 text-3xl font-bold">Shopping Cart</h1>
  <div class="flex gap-3 mt-9 flex-col lg:flex-row">
    <div class="rounded-xl border-black border-solid border lg:w-2/3 h-fit">
      <p class="my-5 ml-4.5 font-semibold text-xl">Cart Items({{ cartLength }})</p>
      <hr class="text-black" />
      <div *ngFor="let item of cartItems" 
        class="flex grid-cols-4 justify-center mt-4 items-center border-b border-black pb-4 pr-2 ">
        <div>
          <img [src]="item.img[0]" class="h-25 w-25 rounded-xl bg-cover" />
        </div>
        <div class="w-1/2 ml-5 ">
          <p class="font-bold">{{ item.title }}</p>
          <p>{{ item.description }}</p>
          <span class="line-through">${{ item.oldPrice }}</span>
          <span class="text-blue-500 ml-2.5">${{ item.newPrice }}</span>
        </div>
        <div class="flex gap-3">
          <button (click)="decrement(item)"
            class="bg-white border-solid border-2 border-black rounded-xl w-9 h-7 font-bold">
            -
          </button>
          <p class="mt-1.5">{{ item.count }}</p>
          <button (click)="increment(item)"
            class="bg-white border-solid border-2 border-black rounded-xl h-7 w-9 font-bold">
            +
          </button>
          <div>
            <h3>${{((item.newPrice)*(item.count)).toFixed(2)}}</h3>
            <span (click)="removeItem(item)" class="fa-solid fa-trash-can text-red-500"></span>
          </div>
        </div>
        <hr />
      </div>
    </div>
    <div class="bg-white border rounded-xl shadow-sm p-6 h-fit lg:w-1/3">

      <p class="font-semibold text-xl mb-6">Order Summary</p>

      <div class="flex justify-between mb-4">
        <p>Subtotal</p>
        <p>${{ totalPrice.toFixed(2) }}</p>
      </div>

      <hr class="mb-4">
      <div class="flex gap-2 mb-6">
        <input type="text" placeholder="Discount code" class="border rounded-lg px-3 py-2 w-full" />

        <button  (click)="applyDiscount()" class="bg-gray-800 text-white px-4 rounded-lg cursor-pointer">
          Apply
        </button>

      </div>

      <div class="flex justify-between mb-2">
        <p>Shipping</p>
        <p>$9.99</p>
      </div>

      <div class="flex justify-between mb-4">
        <p>Tax</p>
        <p>$25.43</p>
      </div>

      <hr class="mb-4">

      <div class="flex justify-between font-semibold text-xl mb-6">
        <p>Total</p>
        <p>${{ (totalPrice + 9.99  + 25.43).toFixed(2) }}</p>
      </div>

      <button class="bg-blue-500 hover:bg-blue-600 text-white w-full py-3 rounded-xl font-semibold">
        Proceed to Checkout
      </button>

      <a routerLink="/productsList" class="text-blue-500 block text-center mt-4 hover:underline">
        Continue Shopping
      </a>

    </div>

  </div>
</section>
