<header class="bg-white-600 pb-9.5">
   <div class="flex mt-5 ">
    <div class="text-amber-950 ml-10.5 ">
        <h2>logo</h2>
    </div>
    <div >
        <ul class="flex ml-[760px] gap-9.5">
            <li class=" hover:text-blue-600">
                <a routerLink="/">Home</a>
            </li>
            <li class=" hover:text-blue-600">
                <a routerLink="/productList">Product List</a>
            </li>
            <li class=" hover:text-blue-600">
                <a routerLink="/cart">Cart</a>
            </li>
            <li class=" hover:text-blue-600">
                <a routerLink="/login">Login</a>
            </li>
        </ul>

    </div>
   </div>
</header>