<section class="bg-[url('/images/bg-img.jpeg')] h-screen bg-cover bg-center bg-no-repeat">
    <div class="absolute inset-0 bg-black/0">
    <div >
<h1 class="text-center pt-45 text-[40px] font-bold text-white mb-2">Transform Your Space</h1>
<p class="text-center text-[19px] font-medium w-[670px] ml-[300px] text-black mb-4">Discover beautiful home decor that reflects your unique style and creates the perfect atmosphere for your living space</p>
    
</div>
<div>
 <button class="text-white bg-blue-400 rounded-[8px] pl-5 pr-5 pt-3 pb-3 ml-147 ">Shop Now</button>
 </div>
    </div>
</section>