<section class="bg-[url('/images/bg-img.jpeg')] h-screen bg-cover bg-center bg-no-repeat">
  <div class="absolute inset-0 bg-black/0 pointer-events-none">
    <div class="mt-8">
      <h1 class="text-center pt-45 text-[40px] font-bold text-white mb-2 mt-30">
        Transform Your Space
      </h1>
      <p class="text-center text-[19px] font-bold w-[670px] ml-[300px] mt-10 text-white mb-4">
        Discover beautiful home decor that reflects your unique style and creates the perfect
        atmosphere for your living space
      </p>
    </div>
    <div>
      <button
        class="text-white bg-blue-400 rounded-[8px] pl-5 pr-5 pt-3 pb-3 ml-147 mt-4 text-[17px]"
      >
        Shop Now
      </button>
    </div>
  </div>
</section>

<!-- Featured product starts here -->
 <section>
    <div class="mt-16">
<h1 class="font-bold text-[32px] mb-7 text-center">Featured Products</h1>
<p class="text-black-600 mt-6 text-center text-[16px]">Discover our handpicked selection of premium home decor items with exclusive discounts</p>
</div>
<app-product-list></app-product-list>
 </section>

<!-- CHOOSE US SECTION START HERE -->
<section class="flex gap-5 my-19">
  <div class="ml-8">
    <h3 class="font-bold text-[28px] text-black">Why Choose Us</h3>
    <div class="flex gap-2">
    <i class="fa-solid fa-medal mt-9"></i>
    <h2 class="text-[16px] text-gray-900 font-bold mt-8">Premium Quality</h2>
    </div>
    <p class="text-black-600 ml-5 mt-3 mb-4 text-[14px]">
      We source only the finest materials and work with skilled artisans to ensure every piece meets
      our high standards of quality and durability.
    </p>
    <div class="flex gap-2">
    <i class="fa-solid fa-truck-fast mt-4.5"></i>
    <h2 class="text-[16px] text-gray-900 font-bold mt-3.5">Fast Delivery</h2>
    </div>
    <p class="text-black-600 ml-5 mt-3 mb-4">
      Get your favorite home decor items delivered quickly and safely to your doorstep with our
      reliable shipping partners.
    </p>
    <div class="flex gap-2">
    <i class="fa-solid fa-headset mt-4"></i>
    <h2 class="text-[17px] text-gray-900 font-bold mt-3.5">Expert Support</h2>
    </div>
    <p class="text-black-600 ml-5 mt-3 mb-4">
      Our design experts are here to help you create the perfect space with personalized
      recommendations and styling advice.
    </p>
    <div class="flex gap-2">
    <i class="fa-solid fa-shield mt-4.5"></i>
    <h2 class="text-[17px] text-gray-900 font-bold mt-3.5">Satisfaction Guarantee</h2>
    </div>
    <p class="text-black-600 ml-5 mt-3 mb-4">
      We stand behind our products with a 30-day satisfaction guarantee. If you're not happy, we'll
      make it right.
    </p>
  </div>
  <div class="mr-10 mt-7">
    <img src="/images/choose.jpg" class="rounded-2xl shadow-2xl h-95 w-178" />
  </div>
</section>
