<footer class="bg-blue-950 text-amber-50 pt-12 pb-6 pl-12 pr-9">
  <div class="flex gap-19 mx-auto px-6 grid-cols-1">
    <div class="w-[540px] space-y-2">
      <h3 class="font-bold">Contact Us</h3>
      <div class="text-sm">
        <p>+1 (555) 123-4567</p>
        <p>hello@homedecor.com</p>
        <p>
          Mon - Fri: 9:00 AM - 6:00 PM
          <br />
          Sat - Sun: 10:00 AM - 4:00 PM
        </p>
      </div>
    </div>
    <div class="space-y-2">
      <h3 class="font-bold">About</h3>
      <div class="text-sm">
        <p>
          We are passionate about helping you create beautiful, comfortable living spaces that
          reflect your personal style and enhance your daily life.
        </p>
        <a>Our Story</a>
        <br />
        <a>Our Values</a>
        <br />
        <a>Careers</a>
      </div>
    </div>
    <div class="gap-6 space-y-2 w-[440px]">
      <h3 class="font-bold">Follow Us</h3>
      <div class="text-sm">
        <a>F</a>
        <a>I</a>
        <a>T</a>
        <a>P</a>
      </div>
    </div>
    <div class="space-y-2">
      <h3 class="font-bold">Visit Our Store</h3>
      <div class="text-sm">
        <a>123 Design Avenue Creative District Mumbai,10001 India</a>
      </div>
    </div>
  </div>
  <hr class="m-7 text-gray-700" />
  <p class="text-center text-[13px] mb-9">© 2026 Home Decor Store. All rights reserved.</p>
</footer>
