<footer class="bg-gray-900 text-amber-50 pt-12 pb-6 pl-12 pr-9">
  <div class="flex gap-19 mx-auto px-6 grid-cols-1">
    <div class="w-[540px] space-y-2">
      <h3 class="font-bold text-[16px] ">Contact Us</h3>
      <div class="text-sm mt-3">
        <div class="flex gap-3.5 mt-5">
          <span class="fa-solid fa-phone"></span>
          <p class="mb-5">+1 (555) 123-4567</p>
        </div>
        <div class="flex gap-3.5 ">
          <span class="fa-regular fa-envelope"></span>
          <p class="md-5">hello@homedecor.com</p>
        </div>
        <div class="flex gap-3.5 mt-5">
            <span class="fa-regular fa-clock"></span>
        <p class="mb-5">
          Mon - Fri: 9:00 AM - 6:00 PM
          <br />
          Sat - Sun:10:00 AM - 4:00 PM
        </p>
        </div>
      </div>
    </div>
    <div class="space-y-2">
      <h3 class="font-bold text-[16px]">About</h3>
      <div class="text-sm mt-3">
        <p class="mt-4">
          We are passionate about helping you create beautiful, comfortable living spaces that
          reflect your personal style and enhance your daily life.
        </p>
        <div class=" flex flex-col gap-3 cursor-pointer ">
          <div class="mt-5">
            <a class="hover:text-blue-600">Our Story</a>
          </div>
          <div>
            <a class="hover:text-blue-600">Our Values</a>
          </div>
          <div>
            <a class="hover:text-blue-600">Careers</a>
          </div>
        </div>
      </div>
    </div>
    <div class="gap-6 space-y-2 w-[440px]">
      <h3 class="font-bold text-[16px]">Follow Us</h3>
      <div class="text-sm mt-4 flex gap-2.5 ">
        <a href="https://www.facebook.com/" class="fa-brands fa-facebook"></a>
        <a href="https://www.instagram.com/" class="fa-brands fa-instagram"></a>
        <a href="https://www.twitter.com/" class="fa-brands fa-twitter"></a>
        <a href="https://www.pinterest.com/" class="fa-brands fa-pinterest"></a>
      </div>
    </div>
    <div class="space-y-2">
      <h3 class="font-bold text-[16px] ml-4">Visit Our Store</h3>
      <div class="text-sm mt-3 flex gap-3.5" >
        <span class="fa-solid fa-location-dot mt-1"></span>
        <a class="mb-8">123 Design Avenue Creative District Mumbai,10001 India</a>
      </div>
    </div>
  </div>
  <hr class="m-7 text-gray-700" />
  <p class="text-center text-[13px] mb-9">© 2026 Home Decor Store. All rights reserved.</p>
</footer>
